---
import LinkList from '../components/LinkList.astro';
import Auth from '../components/Auth.astro';
---

<h1>About us!</h1>

<h2>This view is public!</h2>

<LinkList currentPage="/about-us" />

<Auth />