---
import Auth from '../components/Auth.astro';
import LinkList from '../components/LinkList.astro';
---

<h1>Dashboard!</h1>

<h2>This view is protected!</h2>

<LinkList currentPage="/dashboard" />

<Auth />